## Problem Set 1
_MaCSS 222 Applied Statistics II_
_Spring 2025_

This Problem Set will utilize an extract from the 1997 cohort of the National Longitudinal Survey of Youth (NLSY97). This Notebook is designed to help you get started. Serving as a stub for your own solutions, completing the problem set will involve adding code and commentary to this notebook. Narrative answers to questions posed in the Problem Set can be included in markdown boxes in this notebook. For "pencil and paper" calculations you can either hand-write your answers and turn in a pdf-scan of them along with your Python Jupyter Notebook, or you can write you answers in LaTex in markdown boxes. Please see the pdf file for Problem Set 1 for instructions.
<br>
<br>
If you are not already familiar with LaTex, I encourage you to learn the basics. Overleaf is a helpful online editing environment for LaTex which you can access as a UC Berkeley community member.

In [9]:
# Load libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Part I: Analysis of NLSY97

In [10]:
# Directory where NLSY97 teaching extract file is located
data =  '/Users/bgraham/Dropbox/Teaching/Berkeley_Courses/MaCSS/Data/'

# Directory to save graphics files in
graphics = '/Users/bgraham/Dropbox/Teaching/Berkeley_Courses/MaCSS/Graphics/'

In [11]:
# Load NLSY97 dataset
nlsy97 = pd.read_csv(data+'nlsy97ss.csv') # Reading .csv as DataFrame

In [12]:
# Rename some columns and then form new dataframe with complete cases for key variables
nlsy97.rename(columns={'avg_earn_2016_to_2020': 'earnings', 'hgc_at_age28': 'yrssch'}, inplace=True)
nlsy97 = nlsy97[['female','black','hispanic','yrssch','earnings']]
nlsy97 = nlsy97.dropna()

In [13]:
# Look at first few rows of dataset
nlsy97[0:5]

   female  black  hispanic  yrssch       earnings
0       0      0         1    14.0  140764.964069
1       1      0         1    14.0   34487.266323
2       1      0         1    13.0   45864.738658
3       1      0         1    14.0   23202.102210
4       0      0         1    12.0       0.000000

In [14]:
# Compute population share and mean earnings and variance for Black respondents
Pr_Black     = nlsy97['black'].mean()
E_earn_Black = nlsy97['earnings'].loc[nlsy97['black']==1].mean()
V_earn_Black = nlsy97['earnings'].loc[nlsy97['black']==1].var()

# Compute population share and mean earnings and variance for Hispanic respondents
Pr_Hispanic     = nlsy97['hispanic'].mean()
E_earn_Hispanic = nlsy97['earnings'].loc[nlsy97['hispanic']==1].mean()
V_earn_Hispanic = nlsy97['earnings'].loc[nlsy97['hispanic']==1].var()

# Compute population share and mean earnings and variance for white respondents
Pr_White     = 1 - Pr_Black - Pr_Hispanic
E_earn_White = nlsy97['earnings'].loc[(nlsy97['black']==0) & (nlsy97['hispanic']==0)].mean()
V_earn_White = nlsy97['earnings'].loc[(nlsy97['black']==0) & (nlsy97['hispanic']==0)].var()

# Compute mean earnings and variance for across all respondents
E_earn = nlsy97['earnings'].mean()
V_earn= nlsy97['earnings'].var()

# Collect calculations and put them in a dictionary
Earnings_Decomp = {'Race' : ['Black', 'Hispanic', 'White', 'Overall'], 'Prob' : [Pr_Black, Pr_Hispanic, Pr_White, 1], \
                   'E_Earn' : [E_earn_Black, E_earn_Hispanic, E_earn_White, E_earn], \
                   'V_Earn' : [V_earn_Black, V_earn_Hispanic, V_earn_White, V_earn]}

# Convert the dictionary to a DataFrame
Earnings_Decomp = pd.DataFrame(Earnings_Decomp)
Earnings_Decomp

       Race      Prob        E_Earn        V_Earn
0     Black  0.265715  39550.302303  1.933511e+09
1  Hispanic  0.193993  49646.781460  2.304671e+09
2     White  0.540292  64577.172952  3.927844e+09
3   Overall  1.000000  55030.771126  3.200760e+09

### Part II: Experimental design